* {
    font-size: 17px;
}
h1,
h2,
h3,
h4,
h5 {
    margin-top: 7px;
    margin-bottom: 3px;
}
code {
    font-size: 15px;
    text-decoration: underline;
}
table {
    margin-left: 60px;
}
.header {
    display: none;
}
td {
    padding-right: 20px;
}
